<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">



    <div class="card mt-3">
        <div class="row">
            <div class="col-6">


                <div id="tattooShopCarousel" class="carousel slide" data-bs-ride="carousel">


                    <div class="carousel-inner">
                        <% tattooShop.images.forEach((img, i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                <img src="<%= img.url%>" class="d-block w-100" alt="">
                            </div>
                            <% }) %>

                    </div>



                    <button class="carousel-control-prev" type="button" data-bs-target="#tattooShopCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#tattooShopCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


                <div class="card-body">
                    <h4 class="card-title">
                        <%= tattooShop.title%>
                    </h4>
                    <h4 class="card-author">
                        Submitted by: <%= tattooShop.author.username%>
                    </h4>
                    <h4 class="card-location">
                        <%= tattooShop.location%>
                    </h4>
                    <p class="card-text">
                        <%= tattooShop.description%>
                    </p>

                    <% if (user && tattooShop.author.equals(user._id)) { %>
                        <a class="btn btn-primary mb-3" href="/tattooShops/<%= tattooShop._id%>/edit" role="button">Edit
                            Tattoo Shop</a>
                        <form action="/tattooShops/<%= tattooShop._id%>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger mb-3">Delete</button>
                        </form>
                        <% } %>









                            <% if (user) {%>
                                <h2>Leave a review</h2>

                                <form action="/tattooShops/<%= tattooShop._id%>/reviews" method="POST"
                                    class="mb-3 needs-validation" novalidate>

                                    <div class="input-group mb-3">
                                        <label class="form-label" for="text"> Review:
                                            <textarea required class="form-control" name="review[text]" id="text"
                                                aria-label="With textarea" cols="50" rows="10"></textarea>
                                            <div class="valid-feedback">Looks good!</div>
                                        </label>
                                    </div>


                                    <label for="customRange2" class="form-label">Rating</label>
                                    <input type="range" name="review[rating]" id="rating"
                                        class="form-range-track-width:  1rem" min="0" max="5" id="customRange2">

                                    <button type="submit" class="mb-3 btn btn-success">Submit</button>
                                </form>

                                <% } %>

                                    <% if (user) {%>
                                        <h2>Book an appointment</h2>

                                        <form action="/tattooShops/<%= tattooShop._id%>/appointments" method="POST"
                                            class="mb-3 needs-validation" novalidate>

                                            <div class="input-group mb-3">
                                                <label class="form-label" for="text"> Requests:
                                                    <textarea required class="form-control" name="appointment[text]"
                                                        id="text" aria-label="With textarea" cols="50"
                                                        rows="10"></textarea>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </label>
                                            </div>
                                            <label class="form-label" for="date"> Enter Date (MM-DD-YYYY):
                                                <div class="input-append date" id="dp3" data-date="09-01-2021"
                                                    data-date-format="dd-mm-yyyy"> <input class="span2" size="16"
                                                        name="appointment[appointmentDate]" id="date" type="text"
                                                        value="09-01-2021"> <span class="add-on"><i
                                                            class="icon-th"></i></span></div>
                                            </label>
                                            <br>
                                            <label class="form-label" for="appointmentTime"> Enter Time(24 Hour Format
                                                24:59):
                                                <textarea required class="form-control"
                                                    name="appointment[appointmentTime]" id="appointmentTime"
                                                    aria-label="With textarea" cols="1" rows="1"></textarea>
                                                <div class="valid-feedback">Looks good!</div>
                                            </label>


                                            <button type="submit" class="mb-3 btn btn-success">Submit</button>
                                        </form>

                                        <% } %>



                                            <a class="btn btn-primary mb-3" href="/tattooShops" role="button">Back to
                                                Tattoo Shops</a>
                </div>
            </div>
            <div class="col-6">

                <div id='map' style='width: 634px; height: 450px;'></div>

                <% for (let review of tattooShop.reviews) { %>
                    <div class="card mb-3">
                        <div class="card-body"></div>
                        <h4 class="card-title">By: <%= review.author.username %>
                        </h4>

                        <div class="starability-result" data-rating="<%= review.rating %>">
                        </div>

                        <p class="card-text">Review: <%= review.text %>

                        <% if (user && review.author.equals(user._id)) { %>
                            <form action="/tattooShops/<%= tattooShop._id%>/reviews/<%= review._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger mb-3">Delete</button>
                            </form>
                            <% } %>
                    </div>

                    <% }%>

            </div>
        </div>
    </div>
    
    




    <% if (user) { %>
        <div class="container">
        <div class="row">
            <div class="col-sm">
        <h2 class="text-center">Appointments</h2>
        <% for (let appointment of tattooShop.appointments) { %>
            <% if (appointment.customer.equals(user._id) || tattooShop.author.equals(user._id)) {%>
                <div class="card text-center">
                    <div class="card-body"></div>


                    <p class="card-subtitle">Customer: <%= appointment.customer.username %>
                    </p>
                    <p class="card-subtitle">Email: <%= appointment.customer.email %>
                    </p>
                    <p class="card-text">Tattoo Artist: <%= appointment.tattooArtist.username %>
                    </p>
                    <p class="card-text">Requests: <%= appointment.text %>
                    </p>
                    <p class="card-text">Date: <%= appointment.appointmentDate %>
                            <%= appointment.appointmentTime %>
                    </p>
                    <% if (user && appointment.customer.equals(user._id)) { %>
                        <form
                            action="/tattooShops/<%= tattooShop._id%>/appointments/<%= appointment._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger mb-3">Delete</button>
                        </form>
                        <% } %>
                            <% } %>
                </div>

            </div>
        </div>
    </div>
                <% }%>
                    <% } %>

            



                        </div>
                        <script>
                            const mapToken = '<%-process.env.MAP_TOKEN%>'
                            const tattooShop = JSON.parse('<%-JSON.stringify(tattooShop)%>');
                        </script>
                        <script src="/javascripts/showPageMaps.js">
                        </script>